.container {
  max-width: 1280px;
  padding: 0 2rem;
  margin: 0 auto;
}

.linkWrap {
  padding-bottom: 10px;
}

.detailsWrap {
  display: flex;
  gap: 40px;
  justify-content: start;
  align-items: center;
  padding-bottom: 30px;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 40px;
}
.textWrap {
  display: flex;
  gap: 30px;
}

.subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  display: flex;
  gap: 10px;
}

.navDetails {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
}

.active {
  color: rgb(142, 7, 7);
  font-weight: bold;
}

.linkGoBack {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  padding: 8px 16px;
  border-radius: 8px;
  color: aliceblue;
  background-color: #264191;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linkGoBack:hover {
  background-color: #0c215f;
}
